{% extends "layout/base.html" %}
{% load static %}
{% block title %}
    View
{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    <style>
        .dz-progress {
            /* progress bar covers file name */
            display: none !important;
        }
    </style>
{% endblock stylesheets %}

<!--begin::Content-->
{% block content %}

    <!--begin::Container-->
    <div class=" container ">

        <!--begin::Row-->
        <div class="row">
            <!--begin::Card-->
            <div class="col-lg-12">
                <div class="card card-custom">
                    <div class="card-header flex-wrap border-0 pt-6 pb-0">
                        <div class="card-title">
                            <h3 class="card-label">
                                Upload
                                <span class="d-block text-muted pt-2 font-size-sm">Upload multiple csv files</span>
                            </h3>
                        </div>

                    </div>

                    <div class="card-body">

                        <div class="form-group row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="dropzone dropzone-default dropzone-primary" id="kt_dropzone_2">
                                    <div class="dropzone-msg dz-message needsclick">
                                        <h3 class="dropzone-msg-title">Drop files here or click to upload.</h3>
                                        <span class="dropzone-msg-desc">Upload up to 10 files</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="mx-auto">
                                <button type="reset" class="btn btn-light-primary mr-2">Submit</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!--end::Card-->
        </div>
        <!--end::Row-->

        <!--begin::Advance Table Widget 5-->
                            <div class="card card-custom mt-5">
                                <!--begin::Header-->
                                <div class="card-header border-0 py-5">
                                    <h3 class="card-title align-items-start flex-column">
                                        <span class="card-label font-weight-bolder text-dark">FA 503XJE1 Genius 1te Überfahrt -1DAA.CSV</span>
                                        <div class="mt-2">
                                            <span class="label label-lg label-light-warning label-inline">In Progress</span>
                                            <span class="label label-lg label-light-success label-inline">Success</span>
                                            <span class="label label-lg label-light-danger label-inline">Failed</span>
                                        </div>
                                    </h3>
                                    <div class="card-toolbar">
                                        <a href="#" class="btn btn-primary font-weight-bolder font-size-sm">Add</a>
                                    </div>
                                </div>
                                <!--end::Header-->

                                <!--begin::Body-->
                                <div class="card-body py-0">
                                    <!--begin::Table-->
                                    <div class="table-responsive">
                                        <table class="table table-head-custom table-vertical-center"
                                            id="kt_advance_table_widget_2">
                                            <thead>
                                                <tr class="text-uppercase">
                                                    <th class="pl-0 w-25" style="min-width: 100px">trial</th>
                                                    <th style="min-width: 50px">lat 1</th>
                                                    <th style="min-width: 50px">lng 1</th>
                                                    <th style="min-width: 50px">lat 2</th>
                                                    <th style="min-width: 50px">lng 2</th>
                                                    <th style="min-width: 50px">lat 3</th>
                                                    <th style="min-width: 50px">lng 3</th>
                                                    <th class="pr-0 text-right" style="min-width: 50px">action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="pl-0">
                                                        <input class="form-control" type="text" value="0.0" id="example-text-input">
                                                    </td>

                                                    <td>
                                                        <input class="form-control" type="text" value="0.0" id="example-text-input">
                                                    </td>

                                                    <td>
                                                        <input class="form-control" type="text" value="0.0" id="example-text-input">
                                                    </td>

                                                    <td>
                                                        <input class="form-control" type="text" value="0.0" id="example-text-input">
                                                    </td>

                                                    <td>
                                                        <input class="form-control" type="text" value="0.0" id="example-text-input">
                                                    </td>

                                                    <td>
                                                        <input class="form-control" type="text" value="0.0" id="example-text-input">
                                                    </td>

                                                    <td>
                                                        <input class="form-control" type="text" value="0.0" id="example-text-input">
                                                    </td>

                                                    <td class="pr-0 text-right">

                                                        <a href="#"
                                                            class="btn btn-icon btn-light btn-hover-danger btn-sm">
                                                            <span class="svg-icon svg-icon-md svg-icon-danger">
                                                                <!--begin::Svg Icon | path:assets/media/svg/icons/General/Trash.svg--><svg
                                                                    xmlns="http://www.w3.org/2000/svg"
                                                                    xmlns:xlink="http://www.w3.org/1999/xlink"
                                                                    width="24px" height="24px" viewBox="0 0 24 24"
                                                                    version="1.1">
                                                                    <g stroke="none" stroke-width="1" fill="none"
                                                                        fill-rule="evenodd">
                                                                        <rect x="0" y="0" width="24" height="24" />
                                                                        <path
                                                                            d="M6,8 L6,20.5 C6,21.3284271 6.67157288,22 7.5,22 L16.5,22 C17.3284271,22 18,21.3284271 18,20.5 L18,8 L6,8 Z"
                                                                            fill="#000000" fill-rule="nonzero" />
                                                                        <path
                                                                            d="M14,4.5 L14,4 C14,3.44771525 13.5522847,3 13,3 L11,3 C10.4477153,3 10,3.44771525 10,4 L10,4.5 L5.5,4.5 C5.22385763,4.5 5,4.72385763 5,5 L5,5.5 C5,5.77614237 5.22385763,6 5.5,6 L18.5,6 C18.7761424,6 19,5.77614237 19,5.5 L19,5 C19,4.72385763 18.7761424,4.5 18.5,4.5 L14,4.5 Z"
                                                                            fill="#000000" opacity="0.3" />
                                                                    </g>
                                                                </svg>
                                                                <!--end::Svg Icon--></span> </a>

                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!--end::Table-->
                                </div>
                                <!--end::Body-->
                            </div>
                            <!--end::Advance Table Widget 5-->


        <!--begin:Files Wrapper-->
        <div class="files-wrapper">
            <!--begin::File Item-->
            <div id="file-item-first" class="file-item">
                <div class="card card-custom mt-5">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-8">
                                <select class="form-control select2" name="param"
                                        multiple="multiple">
                                </select>
                            </div>
                            <div class="col-md-3 my-auto">
                                <div class="file-name text-truncate">ab</div>
                            </div>
                            <div class="col-md-1 my-auto px-3">
                                <div class="progress" style="height: 7px">
                                    <div class="progress-bar d-none" role="progressbar" style="width: 100%"
                                         aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!--end::Card-->
                </div>
            </div>
            <!--end::File Item-->

        </div>
        <!--end:Files Wrapper-->


    </div>
    <!--end::Container-->

{% endblock content %}
<!--end::Content-->

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <!--begin::Page Vendors(used by this page)-->
    <script src="{% static 'assets/plugins/custom/fullcalendar/fullcalendar.bundle.js' %}"></script>
    <!--end::Page Vendors-->

    <script src="{% static 'assets/js/pages/upload/upload.js' %}"></script>

{% endblock javascripts %}