{% extends "layout/base.html" %}
{% load static %}
{% block title %}
    View
{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
{% endblock stylesheets %}

<!--begin::Content-->
{% block content %}

    <!--begin::Container-->
    <div class=" container ">
        <!--begin::Row-->
        <div class="row">
            <!--begin::Card-->
            <div class="col-lg-12">
                <div class="card card-custom">
                    <div class="card-header flex-wrap border-0 pt-6 pb-0">
                        <div class="card-title">
                            <h3 class="card-label">
                                View
                                <span class="d-block text-muted pt-2 font-size-sm">Search by keyword</span>
                            </h3>
                        </div>

                    </div>
                    <div class="card-body">

                        <!--begin::Search Form-->
                        <div class="form-group row">
                            <div class="flex-grow-1 mx-5">
                                <div class="typeahead">
                                    <input class="form-control" id="kt_typeahead_view" type="text"
                                           placeholder="Keyword"/>

                                </div>
                            </div>

                            <div class="mr-5">
                                <a href="#" class="btn btn-light-primary px-6 font-weight-bold">
                                    Search
                                </a>
                            </div>
                        </div>
                        <!--end: Search Form-->

                        <!--begin: Datatable-->
                        <div class="datatable datatable-bordered datatable-head-custom"
                             id="kt_datatable"></div>
                        <!--end: Datatable-->
                    </div>
                </div>
            </div>
            <!--end::Card-->
        </div>
        <!--end::Row-->
    </div>
    <!--end::Container-->

{% endblock content %}
<!--end::Content-->

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <!--begin::Page Vendors(used by this page)-->
    <!--end::Page Vendors-->

    <script src="{% static 'assets/js/pages/view/view.js' %}"></script>

{% endblock javascripts %}