{% extends "layout/base.html" %}
{% load static %}
{% block title %}
    View
{% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    <style>
    .fv-plugins-message-container {
        height: 16px;
        margin: 5px;
    }
    </style>
{% endblock stylesheets %}

<!--begin::Content-->
{% block content %}

    <!--begin::Container-->
    <div class=" container ">
        <!--begin::Row-->
        <div class="row">
            <!--begin::Card-->
            <div class="col-lg-12">
                <div class="card card-custom">
                    <div class="card-header flex-wrap border-0 pt-6 pb-0">
                        <div class="card-title">
                            <h3 class="card-label">
                                View
                                <span class="d-block text-muted pt-2 font-size-sm">Search by keyword</span>
                            </h3>
                        </div>

                    </div>
                    <!--begin::Form-->
                    <form class="form" id="kt_form">

                        <div class="card-body pt-0">
                            <!--begin::Search Form-->
                            <div class="form-group" style="display: flex; flex-direction: column-reverse">
                                <div class="row">
                                    <div class="flex-grow-1 mx-5">

                                        <div class="typeahead">
                                            <input class="form-control" id="kt_typeahead_view" type="text"
                                                   name="typeahead"
                                                   placeholder="Keyword"/>
                                            <span class="form-text text-muted">Please select trial from dropdown before searching</span>
                                        </div>

                                    </div>
                                    <div class="mr-5">
                                        <a id="btn_search" class="btn btn-light-primary px-6 font-weight-bold">
                                            Search
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <!--end: Search Form-->

                            <!--begin: Datatable-->
                            <div class="datatable datatable-bordered datatable-head-custom"
                                 id="kt_datatable"></div>
                            <!--end: Datatable-->
                        </div>

                    </form>
                    <!--end::Form-->
                </div>
            </div>
            <!--end::Card-->
        </div>
        <!--end::Row-->
    </div>
    <!--end::Container-->

{% endblock content %}
<!--end::Content-->

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <!--begin::Page Vendors(used by this page)-->
    <!--end::Page Vendors-->

    <script src="{% static 'assets/js/pages/view/view.js' %}"></script>

{% endblock javascripts %}